/* Reset CSS */
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

:root {
	--prygreen: #a9c838;
	--pryblack: #222020;
    --secondarygreen: #658006;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter' , sans-serif;
}
html,
body {
	background: linear-gradient(45deg, #190f2c, #200b30);
	/* padding: 15px; */
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
    padding: 25px;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .taller {
	grid-row: span 3;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

header {
    height:90px;
    width: 100%;
    z-index: 25;
    
}

.navbar {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
    background-color: var(--pryblack);
    color: #fff;
    padding: 20px 100px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: var(--prygreen);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    flex-direction: row;
    z-index: 1000;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
    list-style: none;
    border: 2px solid var(--pryblack);
}

.menu li:hover {
    display: block;
    border-bottom: 2px solid var(--prygreen);
    transition: 0.3s ease;
}

.menu li.active {
    background-color: var(--prygreen);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li a {
    padding: 5px 14px;
    display: inline-block;
}

input[type=checkbox]{
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

footer {
    z-index: 2000;
    background-color: var(--pryblack);
    color: white;
    padding: 20px 100px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width:100%;
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    footer {
        padding: 20px 20px;
        font-size: 12px;
    }

    footer > div:first-of-type {
        text-align: left;
    }

    footer > div {
        flex: 1;
    }

    .menu { 
        display: none;
        position: absolute;
        background-color: var(--pryblack);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .menu li a {
        width: 100%;
        display: inline-block;
    }

    .menu li:hover {
        display: block;
        border-bottom: 2px solid var(--prygreen);
        transition: 0.3s ease;
    }

    .menu li.active {
        display: block;
        background-color: var(--prygreen);
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
        margin-top: 20px;
    }

    .hamburger {
     display: block;
    }
}

.hero-media-wrapper svg {
    fill: var(--prygreen);
    margin: 0px 10px;
    border: 1px solid var(--prygreen);
    border-radius: 50%;
    padding: 4px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

@media (max-width: 500px) {
    .grid-wrapper .wide, .grid-wrapper .tall, .grid-wrapper .taller, .grid-wrapper .big {
        grid-column: 1 / -1;
    }
}
